body, div, span, h1, h2, h3, h4, h5, ul, img { margin: 0; padding: 0; }
body {
	font-size: 0.8em;
	font-family: Arial, 'Lucida Grande', Verdana, Sans-Serif;
	color: #000000;
	text-align: left;
	background: url(../imagens/login_bg.gif) fixed right no-repeat;
}
ul { list-style: none; }
img { border: none; }
a:link,
a:visited {
	color: #0000ee;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
label { font-weight: bold; }
table { font-size: 1em; }

.erro {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: red;
}
.aviso {
	padding: 3px;
	color: #000000;
	font-weight: bold;
	background-color: #C9D7F1;
}
.negrito {
	font-weight: bold;
	margin: 0 5px 0 0;
}
.linha {
	width: 80%;
	margin: 20px 0 5px 0;
}
.imprimir {
	position: absolute;
	right: 20px;
	width: 128px;
	height: 128px;
	text-indent: -5000px;
	background: url(../imagens/imprimir.png) no-repeat;
}

/*
 * Principal
 */
.principal_box {
	display: block;
	float: left;
	width: 300px;
	height: 300px;
	overflow: scroll;
	padding: 5px;
	margin: 4px;
	border: solid 1px #B1DAB1;
}
.principal_box h2 { text-align: center; }
.principal_box ul li { margin: 3px 0; line-height: 1.2em!important; }
.principal_box ul li:hover {
	cursor: pointer;
	background-color: #B1DAB1;
}

#menuTopo {
    height: 17px;
    padding: 5px 0 3px 5px;
    border-bottom: solid 1px #C9D7F1;
}
#menuTopo ul {
    list-style: none;
}
#menuTopo ul li {
    margin: 0 20px 0 0;
    float: left;
}
#menuTopo .logout {
    float: right;
    margin: 0 10px 0 0;
}
#logo {
	position: absolute;
	top: 27px;
	left: 5px;
}

#menuDir {
    clear: both;
    width: 15%;
    float: left;
	line-height: 25px;
    margin: 85px 0 10px 10px;
    font-size: 1.2em;
    border-right: solid 2px #CCCCCC;
}
#menuDir ul li { padding: 1px 0 1px 5px; }
#menuDir ul .select { background-color: #D1E4E4; }
#menuDir ul .select a:link,
#menuDir ul .select a:visited { font-weight: bold; }

#corpo {
    float: left;
	width: 80%;
    margin: 30px 10px 0 10px;
}
#corpo ul li { line-height: 1.8em; }
#corpo h1 {
    font-size: 1.4em;
    padding: 0 0 0 5px;
    margin: 0 0 20px 0;
    border-top: solid 2px #AA0033;
    background-color: #EFEFEF;
}
#corpo h2 {
    font-size: 1.2em;
	margin: 0 0 10px 0;
    border-bottom: solid 1px #C9D7F1;
}
#corpo table { width: 600px; }

form {
	padding: 5px;
	border: solid 1px #C3D9FF;
}

.botao {
	padding: 2px 10px;
	margin: 5px;
	color: #000000;
	border: solid 1px #BBBBBB;
	background-color: #EEEEEE;
}

.box {
	padding: 5px;
	border: solid 1px #BBBBBB;
}

/*
 * Admin->Usuario
 */
.novoUsuario {
    text-align: right;
    padding: 0 30px 0 0;
}
.listaUsuarios ul li { padding: 2px; }
.listaUsuarios ul li:hover { cursor: pointer; background-color: #C9D7F1; }
.listaUsuarios .opcoes { margin: 0 0 0 100px; }


#rodape {
    clear: both;
    margin: 20px 1px;
    text-align: center;
    color: #777777;
    border-top: solid 2px #CCCCCC;
}
