img { border: none; }

.negrito {
	font-weight: bold;
	margin: 0 5px 0 0;
}

h1,
#menuTopo,
#menuDir,
.imprimir,
#rodape { display: none; }

h2 { font-size: 2em; }

#logo {	float: right; }

#corpo table { width: 600px; }
