body, div, span, h1, h2, h3, h4, h5, ul, img { margin: 0; padding: 0; }
body {
	font-size: 0.8em;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: #000000;
	text-align: left;
	background: url(../imagens/login_bg.gif) right no-repeat;
}

img { border: none; }
a:link,
a:visited { color: #0000ee; }

.logo {
	position: absolute;
	top: 5px;
	left: 5px;
}

.barraTop {
  position: absolute;
  top: 15px;
  right: 5px;
  width: 80%;
  padding: 5px 10px;
  font-size: 1.4em;
  font-weight: bold;
  background-color: #C3D9FF;
}
.barraFim {
  clear: both;
  width: 100%;
  text-align: center;
  border-top: solid 1px #C2D9FF;
}
.barraFim p { margin: 0; padding: 5px; }

.erro {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 10px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: red;
}

/*********************************
 * LOGIN
**********************************/
#login {
  width: 300px;
  margin: 100px auto;
  text-align: center;
  border: solid 2px #C3D9FF;
  background-color: #E8EEFA;
}
#login img {
  position: relative;
  float: left;
}
#login p {
  clear: both;
  font-weight: bold;
}
#login h1 { font-size: 1.3em; }
#login .loginbox {
  display: block;
  margin: 10px 0;
}
.login { margin: 30px; }