body, div, span, h1, h2, h3, h4, h5, ul, img { margin: 0; padding: 0; }
body {
	font-size: 0.8em;
	font-family: Arial, 'Lucida Grande', Verdana, Sans-Serif;
	color: #000000;
	text-align: left;
	background-color: #FFFFFF;
}
ul { list-style: none; }
img { border: none; }
a:link,
a:visited { color: #0000ee; }
label { font-weight: bold; }

.erro {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: red;
}
.aviso {
	padding: 3px;
	color: #000000;
	font-weight: bold;
	background-color: #C9D7F1;
}

.negrito { font-weight: bold; }

/* Inicio William */


#site{
	float: center;
	margin: 0 auto;
	width: 1000px;
	text-align: left;
}

#logo{
	float: left;
	width: 290px;
	height: 90px;
	margin: 0 auto;
	background-color: #000000;
	text-align: center;
}

#publicidade{
	float: left;
	width: 590px;
	height: 82px;
	background-color: #000000;
	text-align: center;
	vertical-align: middle;
   display: table-cell;
	padding-top: 8px;
}

#login{

	width: 120px;
	height: 90px;
	color: #FFFFFF;
	margin: 0 auto;
	background-color: #000000;
	text-align: center;
	vertical-align: middle;
 display: table-cell;
}

#menuTopo{
	float: left;
	width: 1000px;
	height: 25px;
	background: #6E6E6E;
	color: #FFFFFF;
	margin: 0 auto;
}

#menuTopo ul {
    list-style: none;
}
#menuTopo ul li {
    margin: 0 20px 0 0;
    float: left;
}

#menuLateral{
	float: left;
	width: 185px;
	background: #000000;
	color: #FFFFFF;
	margin: 0 auto;
}

#menuLateral ul li { padding: 1px 0 1px 5px; }
#menuLateral ul .select { background-color: #D1E4E4; }
#menuLateral ul .select a:link,
#menuLateral ul .select a:visited { font-weight: bold; }

#corpo{
	float: right;
	width: 795px;
	color: #000000;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

#corpo h1 {
    font-size: 1.4em;
    padding: 0 0 0 5px;
    margin: 0 0 20px 0;
    border-top: solid 2px #AA0033;
    background-color: #EFEFEF;
}
#corpo h2 {
    font-size: 1.2em;
	margin: 0 0 10px 0;
    border-bottom: solid 1px #C9D7F1;
}

#rodape{
	float: left;
	width: 1000px;
	height: 60px;
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	background: #000000;
	background-image: url(images/fundo_menu.jpg);
	background-position: left bottom;
	background-repeat: no-repeat;
	vertical-align: middle;
}


/*
 * Principal
 */
.principal_box {
	display: block;
	float: left;
	width: 300px;
	height: 300px;
	overflow: scroll;
	padding: 4px;
	margin: 4px;
	border: solid 1px #B1DAB1;
}
.principal_box h2 { text-align: center; }
.principal_box ul li { margin: 3px 0; }
.principal_box ul li:hover {
	cursor: pointer;
	background-color: #B1DAB1;
}

#menuTopo ul {
    list-style: none;
}
#menuTopo ul li {
    margin: 0 20px 0 0;
    float: left;
}

form {
	padding: 5px;
	border: solid 1px #C3D9FF;
}

.botao {
	padding: 2px 10px;
	margin: 5px;
	color: #000000;
	border: solid 1px #BBBBBB;
	background-color: #EEEEEE;
}

.box {
	padding: 5px;
	margin: 5px;
	border: solid 1px #BBBBBB;
}

/*
 * Admin->Usuario
 */
.novoUsuario {
    text-align: right;
    padding: 0 30px 0 0;
}
.listaUsuarios ul li { padding: 2px; }
.listaUsuarios ul li:hover { cursor: pointer; background-color: #C9D7F1; }
.listaUsuarios .opcoes { margin: 0 0 0 100px; }



