body, div, span, h1, h2, h3, h4, h5, ul, img { margin: 0; padding: 0; }
body {
	font-size: 0.8em;
	font-family: Arial, 'Lucida Grande', Verdana, Sans-Serif;
	color: #000000;
	text-align: left;
	background-color: #FFFFFF;
}
ul { list-style: none; }
img { border: none; }
a:link,
a:visited { color: #0000ee; }
label { font-weight: bold; }

.erro {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: red;
}
.aviso {
	padding: 3px;
	color: #000000;
	font-weight: bold;
	background-color: #C9D7F1;
}

.negrito { font-weight: bold; }


/* Inicio William */


#site{
	float: center;
	margin: 0 auto;
	width: 1000px;
	text-align: left;
}

#logo{
float: left;
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	background-color: #000000;
	text-align: center;
	vertical-align: middle;
   display: table-cell;
}

#publicidade{
float: left;
	width: 1000px;
	height: 82px;
	background-color: #000000;
	text-align: center;
	vertical-align: middle;
   display: table-cell;
	padding-top: 8px;
}

#login{
float: left;
	width: 1000px;
	/*height: 90px;*/
	color: #FFFFFF;
	margin: 0 auto;
	background-color: #000000;
	text-align: center;
	vertical-align: middle;
 display: table-cell;
}

#corpo{
	width: 795px;
	color: #000000;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

#corpo h1 {
    font-size: 1.4em;
    padding: 0 0 0 5px;
    margin: 0 0 20px 0;
    border-top: solid 2px #AA0033;
    background-color: #EFEFEF;
}
#corpo h2 {
    font-size: 1.2em;
	margin: 0 0 10px 0;
    border-bottom: solid 1px #C9D7F1;
}

#rodape{
	float: left;
	width: 1000px;
	height: 60px;
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	background: #000000;
	background-image: url(images/fundo_menu.jpg);
	background-position: left bottom;
	background-repeat: no-repeat;
	vertical-align: middle;
}